<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Reservas de parqueo</h1>
<br />
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos de la reserva</h6>
    </div>
    <div *ngIf="reserve != null" class="card-body">
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Vehículo</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ reserve.vehicleType.name }} - {{
                                    reserve.licensePlate }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-car-alt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    <ngb-highlight
                                        [result]="reserve.reserveStatus == 'Active' ? 'Monto a pagar' : 'Monto pagado'">
                                    </ngb-highlight>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ reserve.totalValue | currency }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Fecha de ingreso
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ reserve.entryDate | date:'medium'
                                    }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Estado</th>
                            <th scope="col">Fecha de salida</th>
                            <th scope="col">Cilindaje</th>
                            <th scope="col">Precio x hora</th>
                            <th scope="col">Precio x día</th>
                            <th scope="col">Recargo por cilindraje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ngb-highlight [result]="reserve.reserveStatus == 'Active' ? 'Activa' : 'Pagada'">
                                </ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight *ngIf="reserve.reserveStatus == 'Paid'"
                                    [result]="reserve.departureDate | date:'medium'">
                                </ngb-highlight>
                                <p *ngIf="reserve.reserveStatus == 'Active'"><em>Sin registro</em></p>
                            </td>
                            <td>
                                <p *ngIf="reserve.engineDisplacement > 0">
                                    reserve.engineDisplacement
                                </p>
                                <p *ngIf="reserve.engineDisplacement == 0"><em>Sin registro</em></p>
                            </td>
                            <td>
                                <ngb-highlight [result]="reserve.hourValue | currency">
                                </ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="reserve.dayValue | currency">
                                </ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight *ngIf="reserve.engineDisplacementCharge > 0"
                                    [result]="reserve.engineDisplacementCharge | currency">
                                </ngb-highlight>
                                <p *ngIf="reserve.engineDisplacementCharge == 0"><em>No aplica</em></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="btn-toolbar" role="toolbar">
                    <div *ngIf="reserve.reserveStatus == 'Active'" class="btn-group mr-3" role="group">
                        <button type="button" class="btn btn-success btn-icon-split" (click)="confirmPayment()">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Ir a pagar</span>
                        </button>
                    </div>
                    <div class="btn-group mr-2" role="group">
                        <a routerLink="/reserve-list" class="btn btn-info btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <span class="text">Ir al listado</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>